extends layout

block content

  h1= title
  - let costumes=[{"costume_type":"PartyWear","size":"xxs","cost":20}]
  - let items = results
   div(class="container-fluid")
    div(class="row m-1")
     each item in costumes
      - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
      div(class="col-sm-4",class="m-l") Costume Type: #{item.costume_type}, size: #{item.size}, cost: #{item.cost}
     
      button.btn( class="btn-info ", onclick= destination) Update



   script.
     function dispatch(path){
       window.location.href=path
     }